.container {
  width: 96%;
  max-width: 1170px;
}

.container .collapsible .row {
  margin-bottom: 0;
  /*width: 100%; commented for policies listing fix*/
}

.container.home .card.small .slick-slide .row {
  margin-bottom: 2px;
  margin-top: 2px;
}

section .welcomeWrapper {
  background-color: #d7b672;
  padding: 12px;
  border-radius: 2px;
  color: #ffffff;
  margin-bottom: 20px;
  /*padding-bottom:10px;
  border-bottom: 1px solid rgba(201, 158, 60, 0.9);*/
}
section .welcomeWrapper .row {
  margin-bottom: 0;
}

.right-align {
  text-align: right;
}

.redText {
  color: #c42033;
}
