
<!--div class="card announcements icons slider"  ng-controller="AnnouncementsCtrl" ng-init="HomePageAnnouncementsInit()" id="AnnouncementsCarousel">
	<ul class="slides" >
      <li ng-repeat="x in AnnouncementsData |orderBy:['-ArticleStartDate ','-ID'] " on-finish-render-MOPADir="AnnouncementsRendered">
        <div class="row">
            	<div class="col s12 m4 hide-on-small-only">
                    <img ng-src="{{x.PublishingPageImage}}" >                   
                </div>
                <div class=" col s12 m8">
               	 <div class="card-content">
                	<span class="card-title"><span class="icon icon-latestAnnouncements"></span>{{HomePanel.Announcements}}</span>
                    <div class="caption left-align">                            
                        <h2 class="right-align"><a href="{{GeneralSettings.SubSiteUrl}}/Pages/AnnouncementsDetails.aspx?annid={{x.ID}}">{{x.ArticleByLine | limitTo:120 }}{{x.ArticleByLine.length > 120 ? '...' : ''}}</a></h2>
                        <p class="right-align">
                        <span class="siteDepartment">
                        	<span class="badgeTag"  ng-class="{'GeneralTag':  (GeneralSettings.DefaultDept === x.Department || !x.Department )}"><span></span>{{x.Department ? x.Department : GeneralSettings.DefaultDept}}</span>&nbsp;|</span>
                        	<span class="date">{{x.ArticleStartDate | date: "dd/MM/yyyy"}}</span></p>
                    </div>
                  </div>
                </div>
            </div>
      </li>
     </ul>
    <div class="carousel-fixed-item">
        <a href="{{GeneralSettings.SubSiteUrl}}/Pages/announcementsListing.aspx" class="btn waves-effect">{{HomePanel.ViewAll}}</a>
    </div>
</div-->

<section class="container" ng-init="AnnouncementsDetailsInit()">
	<div class="breadcrumbWrapper">
	      <a href="#/!" class="breadcrumb">{{AnnouncementsPanel.Home}}</a>
	      <a href="#!/announcements" class="breadcrumb">{{AnnouncementsPanel.Announcements}}</a>
	      <span class="breadcrumb">{{AnnouncementsPanel.Details}}</span>               
	</div>
	<h1> {{AnnouncementsPanel.Announcements}} </h1>
	<div class="divider"></div>

<!-- Announcements -->
	<div class="">
	    <div class="detailView">
	        <div class="card">
	            <div class="card-content">
	                <div class="row">
	                    <div ng-repeat="X in announcementsMainDetails" class="col s12">
	                        <h3>{{X.ArticleByLine}}</h3>
	                        <p><span class="badgeTag {{X.Department}}"><span></span>{{X.Department}}</span>&nbsp;|&nbsp;<span  class="date">{{X.ArticleStartDate | date :"dd/MM/yyyy"}}</span></p>
							<div class="center-align"><img ng-src="{{X.PublishingPageImage}}" /></div>
							<p ng-bind-html=" X.PublishingPageContent | html "></p>

	                    </div>
	                </div>
					
					<div class="row" ng-hide="preview">
						<h5 class="col s12"> {{AnnouncementsPanel.More}}</h5>
						<div class="col s12 m3" ng-repeat="x in announcementsData | orderBy:['-ArticleStartDate ','-ID']   | limitTo:4">
								 
	                        <div>
	                            <a href="#!/AnnouncementsDetails/{{x.ID}}"  class="image">
	                            	<div style="background: url({{x.PublishingPageImage}});"></div>
	                            </a>
	                        </div>
	                        <div >
	                            <a href="#!/AnnouncementsDetails/{{x.ID}}"><span class="card-title dtailed">{{x.ArticleByLine | limitTo:97 }}{{x.ArticleByLine.length > 97 ? '...' : ''}}</span></a>
	                            <!--<p>{{x.PublishingPageContent  | limitTo:200 }}{{x.PublishingPageContent.length > 200 ? '...' : ''}}</p>-->
	                            <span class="badgeTag {{X.Department}}"><span></span>{{x.Department}}</span>&nbsp;|&nbsp;<span class="date">{{x.ArticleStartDate | date:"dd/MM/yyyy"}}</span>
	                        </div>
	                    
							
						</div>
					</div>
					<div class="row" ng-hide="preview"><div class="col s12"><a href="#!/announcements" class="btn waves-effect left">{{AnnouncementsPanel.ViewAll}}</a></div></div>
	            </div>
	
	        </div>
	    </div>
	</div>
</section>
<style type="text/css">
.ms-breadcrumb-box, .ms-cui-ribbonTopBars, #s4-ribbonrow, #sideNavBox{
	display: none;
}
#s4-titlerow{
	height: 0;
	padding: 0;
}

div.article, div.welcome{
	padding: 0;
}
</style>

